@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');

html {
	scroll-behavior: smooth;
}
body {
    padding: 0;
  	margin: 0;
	background-color: #222222;
	height: 100%;
}
section {
	margin-top: -15%;
}
.navbar {
  	background: #FF5757;
}
.nav-link {
	color: #fff;
  	margin-right: 15px;
    font-family: 'Muli';
    font-size: 18px;
    font-weight: bold;
}
.nav-link:hover {
  	color: #000;
}
.navbar-collapse {
  	justify-content: flex-end;
}
#home {
	background-color: #FF5757;
	background-image: url('home.png');
	background-repeat: no-repeat;
	background-size: cover;
	height: auto;
	max-width: 100%;
	min-width: 100%;
	text-align: center;
	padding-top: 5%;
	padding-bottom: 15%;
}
#home-line {
	width: 40%;
	border-width: 2px;
	background-color: #000;
}
#home-h1 {
	color: #000;
	font-family: 'Open Sans';
	font-size: 84px;
	font-weight: bold;
}
#home-p {
	color: #000;
	font-family: 'Muli';
	font-size: 36px;
	font-weight: bold;
}
#photo {
	position: absolute;
	right: 42%;
	bottom: 0%;
	top: 112%;
}
.title {
	position: relative;
	right: 82%;
	top: 15vmax;
	font-style: italic;
	font-family: 'Roboto';
}
.box {
	text-align: center;
	padding-top: 10%;
	padding-bottom: 7%;
	margin-bottom: 10%;
	margin-right: 20%;
	margin-left: 20%;
}
#about-me {
	color: #fff;
	font-family: 'Karla';
	font-size: 32px;
	padding-right: 10%;
	padding-left: 10%;
}
.title-tag {
	text-align: right;
	font-weight: bold;
}
.line {
	width: 90%;
	border: 6px solid #FF5757;
	top: 15vmax;
	position: relative;
	z-index: -1;
}
.additional {
	position: relative;
	margin-left: 81%;
	top: 15vmax;
	font-family: 'Roboto';
	font-weight: bold;
}
.additional-tag {
	font-weight: bold;
}
#ed-box {
	background-color: #fff;
	padding-bottom: 10%;
	padding-top: 5%;
	margin-bottom: 10%;
}
.ed-year {
	background-color: #FF5757;
	border-bottom-right-radius: 90px;
	border-top-right-radius: 90px;
	margin-top: 5%;
}
.year {
	text-align: center;
	color: #fff;
	font-family: 'Roboto';
	font-weight: bold;
	font-size: 30px;
	padding-top: 3%;
	padding-bottom: 3%;
}
#ed-line {
	width: 45%;
	bottom: 4vmax;
	position: relative;
	z-index: 3;
	border: 4px solid #FF5757;
	left: 40%;
}
#edu {
	font-size: 45px;
	bottom: 2vmax;
	text-align: right;
	left: 45vmax;
	position: absolute;
	z-index: 3;
	color: #fff;
	font-style: italic;
	font-family: 'Roboto';
}
#edu-navi {
	margin-left: 40%;
	position: relative;
}
#ex-box {
	background-color: #fff;
	padding-bottom: 10%;
	padding-top: 5%;
	margin-left: auto;
	margin-bottom: 5%;
}
#ex-line {
	width: 28%;
	bottom: 4vmax;
	position: relative;
	z-index: 3;
	border: 4px solid #FF5757;
	right: 45%;
}
#ex {
	font-size: 45px;
	bottom: 94%;
	text-align: left;
	right: 73vmax;
	position: absolute;
	z-index: 3;
	color: #fff;
	font-style: italic;
	font-family: 'Roboto';
}
.ex-year {
	overflow: hidden;
	margin-left: auto;
	background-color: #FF5757;
	border-top-left-radius: 90px;
	border-bottom-left-radius: 90px;
	margin-top: 5%;
	height: 55px;
}
.ex1,
.ex2 {
	text-align: right;
	padding-top: 2%;
}
#contact-me {
	font-size: 25px;
	font-family: 'Muli';
	padding-bottom: 5%;
}
a.click {
	text-decoration: none;
}
.col-md-3 {
	padding-bottom: 15px;
	padding-top: 15px;
	background: #fff;
}
#gal {
	background: #fff;
}
#random-gallery {
	text-align: center;
	padding-top: 6%;
	padding-bottom: 1%;
	margin-bottom: 5%;
	color: #fff;
}
h1 hr {
	width: 500px;
	border: 2px solid #FF5757;
}
.link-gal:hover {
	color: #FF5757;
}